.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.2fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "nav nav nav nav"
      "mainBanner mainBanner mainBanner mainBanner"
      "mainBody mainBody mainBody mainBody"
      "footer footer footer footer";
}
.nav {
    display: grid;
    background-color: aliceblue;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "topNav topNav topNav"
      "subNav subNav subNav";
    grid-area: nav;
}
.topNav { 
    grid-area: topNav; 
    color: darksalmon;
    background-color: aqua; 
}  
.subNav { 
    grid-area: subNav;
    background-color: blueviolet;
}

.mainBanner { 
    grid-area: mainBanner;
    background-color: brown;    
}
    
.mainBody { 
    grid-area: mainBody;
    background-color: chocolate;
}

.footer {
    display: grid;
    background-color: crimson;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "subFooter subFooter subFooter"
      "legalFooter legalFooter legalFooter";
    grid-area: footer;
}
.subFooter { 
    grid-area: subFooter;
    background-color:darksalmon;
}

.legalFooter { 
    grid-area: legalFooter;    
    background-color:darkcyan;
}
.copyright {
    text-align: center;
    padding: 5px;
}
